drama.json
{
  "name": "drama.funnyguilds.net",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        -576,
        80
      ],
      "id": "dff29c17-4523-4f8b-be1a-a5e2f7b2bc18"
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "hour": 0,
              "minute": 5
            }
          ]
        }
      },
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -576,
        272
      ],
      "id": "cac7fb15-6d2d-467f-a5f9-f909f4765ac4"
    },
    {
      "parameters": {
        "url": "https://raw.githubusercontent.com/FunnyGuilds/FunnyDrama/master/data/elements.json",
        "options": {}
      },
      "name": "Fetch elements.json",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        96,
        176
      ],
      "id": "9079601c-7c75-454d-a2a5-5d5541fef9d6"
    },
    {
      "parameters": {
        "url": "https://raw.githubusercontent.com/FunnyGuilds/FunnyDrama/master/data/sentences.json",
        "options": {}
      },
      "name": "Fetch sentences.json",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        320,
        176
      ],
      "id": "a7ea4074-5cb9-42bb-802e-c8e6c8b70283"
    },
    {
      "parameters": {
        "jsCode": "// noinspection PointlessBitwiseExpressionJS\n\nconst sentences = $(\"Fetch sentences.json\").first().json;\nconst elements = $(\"Fetch elements.json\").first().json;\nconst fieldPattern = /\\[(?<name>[a-zA-Z0-9_]+)\\]/;\n\nconst alreadyUsed = [];\n\nconst createDrama = () => {\n\n  let sentence = sentences[Math.random() * sentences.length | 0];\n  let matcher;\n  \n  while ((matcher = fieldPattern.exec(sentence)) !== null) {\n  \n      const fieldFull = matcher[0];\n      const fieldType = matcher[1];\n  \n      if (!(fieldType in elements)) {\n          return {sentence: `Unknown element type: ${fieldType}`}\n      }\n  \n      let randomValue;\n      do {\n          randomValue = elements[fieldType][Math.random() * elements[fieldType].length | 0];\n      }\n      while (randomValue in alreadyUsed);\n  \n      alreadyUsed.push(randomValue);\n      sentence = sentence.replace(fieldFull, randomValue);\n  }\n\n  return sentence;\n}\n\nreturn {\n  json: {\n    dramas: Array.from({ length: 10 }, createDrama)\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        544,
        176
      ],
      "id": "3bdf926e-1606-4894-9ad2-8a22a129e08b",
      "name": "Generate Drama",
      "executeOnce": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f9d5d320-3a19-4607-a764-10f32f5e28ce",
              "name": "config",
              "value": "={{ $('Channel Config').item.json }}",
              "type": "object"
            },
            {
              "id": "88a8a7a9-3bb8-4adc-b0b6-79c7552db592",
              "name": "content",
              "value": "={{ $json.output[1].content[0].text }}",
              "type": "string"
            },
            {
              "id": "090620a9-bb2f-4ac2-9f3d-a8d5749449fb",
              "name": "cost",
              "value": "={{ $json.usage.cost }}",
              "type": "number"
            },
            {
              "id": "f22b148a-93fa-436c-851d-38a7c11368b1",
              "name": "tokens",
              "value": "={\ninput: {{ $json.usage.input_tokens }},\ncached: {{ $json.usage.input_tokens_details.cached_tokens }},\noutput: {{ $json.usage.output_tokens }},\nreasoning: {{ $json.usage.output_tokens_details.reasoning_tokens }}\n}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1408,
        176
      ],
      "id": "89293b6d-ef47-42bf-b198-7365854bfaf5",
      "name": "Extract AI Drama"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {json: {\n  dramaStyle: $json[Math.floor(Math.random() * $json.length)]\n}};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        544,
        368
      ],
      "id": "5c513990-ed39-4b8a-a8f6-726497243a11",
      "name": "Generate Style",
      "alwaysOutputData": true,
      "executeOnce": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -352,
        176
      ],
      "id": "a12813cb-5a4e-48fe-ba58-d898d76b471b",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "url": "https://raw.githubusercontent.com/FunnyGuilds/FunnyDrama/master/data/styles.json",
        "options": {}
      },
      "name": "Fetch styles.json",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        320,
        368
      ],
      "id": "ad8e2fbc-2692-4316-81e4-4bf3197626b9"
    },
    {
      "parameters": {
        "content": "# By Sandræ :3\nMade with ignorance and prayers.",
        "height": 96,
        "width": 256
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1680,
        464
      ],
      "id": "63fa4cda-4d93-42a6-8638-29033cea733b",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      server: '254623242914889729',\n      channels: [\n        {\n          name: 'main',\n          id: '826950650410958920'\n        },\n        {\n          name: 'help',\n          id: '278157499851341825'\n        }\n      ],\n      out: '826950650410958920'\n    },\n  },\n  {\n    json: {\n      server: '254623242914889729',\n      channels: [\n        {\n          name: 'underground',\n          id: '254623242914889729'\n        }\n      ],\n      out: '254623242914889729'\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -128,
        -16
      ],
      "id": "2f28114d-ddf5-417b-97ca-b56a17751063",
      "name": "Channel Config"
    },
    {
      "parameters": {
        "jsCode": "const filterContent = (text, maxLength = 1000) => {\n    const cleaned = text.replace(/[\\r\\n]+/g, '<br>');\n    return cleaned.length > maxLength\n        ? cleaned.slice(0, maxLength - 3) + '...'\n        : cleaned;\n};\n\nconst getAgo = (time) => {\n    const diff = new Date() - new Date(time);\n    const hours = Math.floor(diff / (1000 * 60 * 60));\n    const minutes = Math.floor((diff % (1000 * 60 * 60)) / (1000 * 60));\n    return { hours, minutes };\n};\n\nconst result = {};\nconst config = $('Channel Config').all();\nconst channelMap = {};\nconst lastAgoTimestamp = {}; // Track last timestamp where we showed ago per channel\nfor (const {json} of config) {\n    for (const {name, id} of json.channels) {\n        channelMap[id] = name;\n        result[name] = [];\n        lastAgoTimestamp[name] = null;\n    }\n}\n\nfor (const item of $input.all().reverse()) {\n\n    const {  channel_id, timestamp, content } = item.json;\n    const author = item.json.author.global_name || item.json.author.username;\n    if (!author || !content) continue;\n\n    const { hours, minutes } = getAgo(timestamp);\n    if (hours >= 20) continue;\n\n    const filtered = filterContent(content);\n    const channelName = channelMap[channel_id] || \"unknown\";\n\n    const channelMessages = result[channelName];\n    const lastMessage = channelMessages[channelMessages.length - 1];\n\n    // Check if we should merge with the last message\n    if (lastMessage && lastMessage.author === author) {\n        const timeDiff = new Date(timestamp) - new Date(lastMessage.timestamp);\n        const minutesDiff = timeDiff / (1000 * 60);\n\n        if (minutesDiff >= 0 && minutesDiff <= 5) {\n            // Merge with previous message\n            lastMessage.content += '\\n' + filtered;\n            lastMessage.timestamp = timestamp; // Update to latest timestamp\n            continue;\n        }\n    }\n\n    // Determine if we should show ago\n    let showAgo = false;\n    if (lastAgoTimestamp[channelName] === null) {\n        showAgo = true; // First message in channel\n    } else {\n        const timeSinceLastAgo = (new Date(timestamp) - new Date(lastAgoTimestamp[channelName])) / (1000 * 60);\n        showAgo = timeSinceLastAgo >= 15;\n    }\n\n    // Add as new message\n    const newMessage = {\n        author,\n        content: filtered,\n        timestamp\n    };\n\n    if (showAgo) {\n        newMessage.ago = `${hours}h${minutes}m`;\n        lastAgoTimestamp[channelName] = timestamp;\n    }\n\n    channelMessages.push(newMessage);\n}\n\n// Remove timestamp field from final output\nfor (const channelName in result) {\n    result[channelName] = result[channelName].map(msg => {\n        const output = {\n            author: msg.author,\n            content: msg.content\n        };\n        if (msg.ago) {\n            output.ago = msg.ago;\n        }\n        return output;\n    });\n}\n\nreturn [{\n    json: {\n        messages: result\n    }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        544,
        -16
      ],
      "id": "f4c99f64-6d28-438b-bcd8-729fcbc556ee",
      "name": "Format Messages",
      "executeOnce": false
    },
    {
      "parameters": {
        "url": "=https://discord.com/api/v10/channels/{{ $json.channels.id }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "discordBotApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "100"
            }
          ]
        },
        "options": {
          "pagination": {
            "pagination": {
              "paginationMode": "responseContainsNextURL",
              "nextURL": "={{ $response.body.length >= 100 ? 'https://discord.com/api/v10/channels/' + $json.channels.id + '/messages?limit=100&before=' + $response.body[$response.body.length - 1].id : '' }}",
              "limitPagesFetched": true,
              "maxRequests": 4
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        320,
        -16
      ],
      "id": "6df1aef1-6735-45ad-9ccb-1d5db4b8e0dc",
      "name": "Get Messages",
      "retryOnFail": false,
      "executeOnce": false,
      "credentials": {
        "discordBotApi": {
          "id": "ng2YWjEby2jmXzo7",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        768,
        160
      ],
      "id": "00564eb1-1c99-41fd-a85d-49a3eddabc2a",
      "name": "Merge Shared",
      "executeOnce": true
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        992,
        176
      ],
      "id": "ac7fa0a4-e327-431b-ac61-c7d513e40666",
      "name": "Seed Channels",
      "retryOnFail": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "fieldToSplitOut": "channels",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        96,
        -16
      ],
      "id": "d8dbc603-2981-4eb1-be51-97c3eb2c687c",
      "name": "Split Out Channels"
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "={{ $json.config.server }}",
          "mode": "id"
        },
        "channelId": {
          "__rl": true,
          "value": "={{ $json.config.out }}",
          "mode": "id"
        },
        "options": {},
        "embeds": {
          "values": [
            {
              "inputMethod": "json",
              "json": "={\n  \"title\": \"Latest Drama News\",\n  \"description\": {{ $json.content.toJsonString() }},\n  \"footer\": {\n    \"text\": \"${{ $json.cost || 0 }} ({{ $json.tokens.input }}t in, {{ $json.tokens.output - $json.tokens.reasoning }}/{{ $json.tokens.output }}t out)\"\n  },\n  \"allowed_mentions\": { \"parse\": [] },\n  \"color\": 16723502\n}\n"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1616,
        176
      ],
      "id": "dd212de7-17e3-4dce-95a0-3b72cabeaef7",
      "name": "Dispatch Drama",
      "webhookId": "017a8361-4c62-4d78-b4a3-1b5385701d29",
      "credentials": {
        "discordBotApi": {
          "id": "ng2YWjEby2jmXzo7",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "react",
        "guildId": {
          "__rl": true,
          "value": "={{ $('Channel Config').item.json.server }}",
          "mode": "id"
        },
        "channelId": {
          "__rl": true,
          "value": "={{ $json.channel_id }}",
          "mode": "id"
        },
        "messageId": "={{ $json.id }}",
        "emoji": "🔥"
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1840,
        64
      ],
      "id": "9bb82788-1a17-4b7d-846d-40fc650f9df2",
      "name": "React with 🔥",
      "webhookId": "62a2dd65-30a5-4e83-83e3-306ea81beb21",
      "credentials": {
        "discordBotApi": {
          "id": "ng2YWjEby2jmXzo7",
          "name": "Discord Bot account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "react",
        "guildId": {
          "__rl": true,
          "value": "={{ $('Channel Config').item.json.server }}",
          "mode": "id"
        },
        "channelId": {
          "__rl": true,
          "value": "={{ $json.channel_id }}",
          "mode": "id"
        },
        "messageId": "={{ $json.id }}",
        "emoji": "🥶"
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1840,
        256
      ],
      "id": "49c73623-5757-4318-8df1-1bba0536d4c3",
      "name": "React with 🥶",
      "webhookId": "62a2dd65-30a5-4e83-83e3-306ea81beb21",
      "credentials": {
        "discordBotApi": {
          "id": "ng2YWjEby2jmXzo7",
          "name": "Discord Bot account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/responses",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openRouterApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "anthropic/claude-opus-4.5"
            },
            {
              "name": "input",
              "value": "=Generate a **short, punchy** fictional drama statement with a blunt, chaotic tone, prioritizing the chat history for inspiration.\n\nCurrent time: {{ new Intl.DateTimeFormat('en-CA', {\n  timeZone: 'Europe/Warsaw',\n  year: 'numeric',\n  month: '2-digit',\n  day: '2-digit',\n  hour: '2-digit',\n  minute: '2-digit',\n  hour12: false\n}).format(new Date()).replace(',', '') }}\n\n#### **INPUT SOURCES (PRIORITY ORDER)**\n\n**Format:**\nAuthor1 (time ago): Message content\nAuthor2: Message content\n(time shown only every 15min)\n\n1. **CHAT HISTORY (PRIMARY SOURCE)**\n\n{{\n$json.channels\n  .map(channel => [channel.name, $json.messages[channel.name]])\n  .map(([channel, msgs]) => \n    `### #${channel} CHANNEL\\n` +\n    msgs\n      .map(it => {\n        const agoStr = it.ago ? ` (${it.ago})` : '';\n        return `${it.author}${agoStr}: ${it.content}`;\n      })\n      .join('\\n')\n  )\n  .join('\\n\\n')\n}}\n\n2. **FALLBACK EXAMPLES (ONLY IF CHAT IS BORING)**\n{{\n$json.dramas\n  .map(drama => `- ${drama}`)\n  .join('\\n')\n}}\n\n#### **DRAMA SELECTION CRITERIA**\n- **Scan for:** Fights, dumb takes, panic, confusion, or general clusterfuck moments.\n- **Final output uses ONE drama element** (e.g., \"config system is broken\" → ignore linked drama like \"x is sleeping again\").\n- **Never use first person or insert yourself**—comment on the drama, don't participate in it.\n\n#### **RULES (NON-NEGOTIABLE)**\n1. **AVOID REPETITION** - Refrain from referencing examples from the rules itself (such as PM, CI) as this causes repetition.\n2. **NO DULL DRAMA** - When chat is boring or lacking in general, prefer using FALLBACK EXAMPLES for the drama. When using one of the fallback examples, use the example almost verbatim only fixing minor stylistic issues.\n3. **ONE TOPIC ONLY** – No \"and\", \"also\", or list-like drama.\n   - **BAD:** Kamilkime hates DDD, CI is dead, and the PM ghosted us.\n   - **GOOD:** Kamilkime just deleted the 'forge' module screaming 'YOLO'.\n   - **EXCEPTION (style-dependent):**\n     - If the style requires multiple elements that can't fit in one topic, you may combine topics\n     - If the style has a specific format (like greentext with multiple \">be me\" lines), follow that format instead\n   - Keep it **concise** - don't waste words.\n4. **NO RECENCY BIAS** - Don't prioritize recent messages—the spiciest drama could be anywhere in the chat history.\n\n4. **CHAOS MULTIPLIER** – Escalate the chosen topic with one or more of:\n   - Sabotage\n   - Public meltdowns\n   - Absurd lies\n\n5. **STYLE:** {{ $json.dramaStyle }}\n\n#### **GENERATION WORKFLOW**\n\nFollow this multi-step process to ensure maximum quality:\n\n1. **IDENTIFY CANDIDATES**\n   - Scan chat history and fallback examples for spicy moments\n   - List the top 3 candidates (fights, dumb takes, panic, confusion, clusterfucks)\n   - Each candidate should be ONE distinct drama element/topic\n   - If fewer than 3 exist, reuse the best one with different chaos approaches\n\n2. **GENERATE 3 VERSIONS**\n   - For each candidate, write one complete drama\n   - Apply the style requirement ({{ $json.dramaStyle }})\n   - Use different chaos multipliers: sabotage, public meltdowns, or absurd lies\n   - Keep each version focused on ONE topic (no \"and\" or lists)\n\n3. **EVALUATE & SELECT**\n   - Compare all 3 versions against the rules\n   - Rate each on: spiciness, style accuracy, chaos level, rule compliance\n   - Pick the winner that maximizes all criteria\n   - Explain your choice briefly\n\n4. **REFINE**\n   - Take the winning version and polish it\n   - Ensure maximum impact while staying concise\n   - Verify: no fancy formatting, ONE topic only\n   - Final check against all rules\n\n#### **OUTPUT FORMAT**\nAfter completing the workflow above, output ONLY the final refined drama.\n- NO thinking tags in output\n- NO fancy formatting (bold, italics, etc.)\n- NO explanations or metadata\n- Just the raw drama, concise and punchy"
            },
            {
              "name": "=reasoning",
              "value": "={{ {effort: \"minimal\"} }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        176
      ],
      "id": "47ac2b03-277c-473b-b0a0-9c190780d3b3",
      "name": "Drama+AI",
      "alwaysOutputData": false,
      "credentials": {
        "openRouterApi": {
          "id": "e4D9LdgWoEY0nlVy",
          "name": "OpenRouter account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch elements.json": {
      "main": [
        [
          {
            "node": "Fetch sentences.json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch sentences.json": {
      "main": [
        [
          {
            "node": "Generate Drama",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Drama": {
      "main": [
        [
          {
            "node": "Merge Shared",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Extract AI Drama": {
      "main": [
        [
          {
            "node": "Dispatch Drama",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Style": {
      "main": [
        [
          {
            "node": "Merge Shared",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "Fetch elements.json",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch styles.json",
            "type": "main",
            "index": 0
          },
          {
            "node": "Channel Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch styles.json": {
      "main": [
        [
          {
            "node": "Generate Style",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Channel Config": {
      "main": [
        [
          {
            "node": "Split Out Channels",
            "type": "main",
            "index": 0
          },
          {
            "node": "Seed Channels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Messages": {
      "main": [
        [
          {
            "node": "Merge Shared",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Messages": {
      "main": [
        [
          {
            "node": "Format Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Shared": {
      "main": [
        [
          {
            "node": "Seed Channels",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Seed Channels": {
      "main": [
        [
          {
            "node": "Drama+AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Channels": {
      "main": [
        [
          {
            "node": "Get Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dispatch Drama": {
      "main": [
        [
          {
            "node": "React with 🔥",
            "type": "main",
            "index": 0
          },
          {
            "node": "React with 🥶",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Drama+AI": {
      "main": [
        [
          {
            "node": "Extract AI Drama",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "executionOrder": "v1"
  },
  "versionId": "df9912da-42f8-459d-a085-159159308de6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "772de366ee37d38fecf1632867a4a1a33b48224bf1f5e46d10b281fe6aeb4c19"
  },
  "id": "34",
  "tags": []
}
